@page
@model Car_Agency_Management.Pages.rentModel
@{
      <section class=" rentals container" id=" rentals"></section>
    <div class=" eco rentals">
  <h2>our eco rentals</h2>
            <p>Explore our most popular car rentals </p>
    

    </div>
    <div class=" rental-box">
    <div class=" rental-eco">
    <h3>sedan</h3>
    <i class=" bx bxs-heart "></i>
    </div>
            <img src="" />
            <h2> hyundai elantra</h2>
            <h4>automatic</h4>
            <div class=" price-button"></div>
            <p>$17--<span>/day</span></p>
            <a href="#" class=" rental-button">rent</a>
    </div>
   
        <div class=" rental-box">
            <div class=" rental-eco">
                <h3>sedan</h3>
                <i class=" bx bxs-heart "></i>
            </div>
            <img src="" />
            <h2> toyota corolla</h2>
            <h4>manual</h4>
            <div class=" price-button"></div>
            <p>$1300<span>/day</span></p>
            <a href="#" class=" rental-button">rent</a>
        </div>
        
    <div class=" rental-box">
    <div class=" rental-eco">
    <h3>sedan</h3>
    <i class=" bx bxs-heart "></i>
    </div>
            <img src="" />
            <h2> chevorelot cruze</h2>
            <h4>automatic</h4>
            <div class=" price-button"></div>
            <p>$1100<span>/day</span></p>
            <a href="#" class=" rental-button">rent</a>
    </div>
        <div class=" rental-box">
            <div class=" rental-eco">
                <h3>sedan</h3>
                <i class=" bx bxs-heart "></i>
            </div>
        <img path="" />
            <h2> suzuki dzire</h2>
            <h4>automatic</h4>
            <div class=" price-button"></div>
            <p>$700<span>/day</span></p>
            <a href="#" class=" rental-button">rent</a>
        </div>
        <div class=" rental-box">
            <div class=" rental-eco">
                <h3>sedan</h3>
                <i class=" bx bxs-heart "></i>
            </div>
            <img src="" />
            <h2> renaault megane</h2>
            <h4>automatic</h4>
            <div class=" price-button"></div>
            <p>$700<span>/day</span></p>
            <a href="#" class=" rental-button">rent</a>
            </div>

    <div class=" rental-box">
        <div class=" rental-eco">
            <h3>sedan</h3>
            <i class=" bx bxs-heart "></i>
        </div>
        <img src="" />
        <h2>honda civic</h2>
        <h4>automatic</h4>
        <div class=" price-button"></div>
        <p>$700<span>/day</span></p>
        <a href="#" class=" rental-button">rent</a>

        </div>
       
}
